.content-meta {
  margin-top: 0;
  margin-bottom: 2.25rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--lightgray);
  color: var(--gray);
  font-size: 0.85rem;
  letter-spacing: 0.01em;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: " •";
      }
    }
  }
}
